.notification {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background-color: #faeab1;
  color: #334443;
  padding: 1rem 0.6rem;
  border-radius: 0.5rem;
}

.notif-icon {
  margin-right: 0.7rem;
  font-size: 1rem;
}
