.saved-snaps-container {
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem;
  margin-bottom: 3rem;
  border-top: 1px solid #34656d;
  /* border-bottom: 1px solid #34656d; */
}
.saved-snap {
  padding: 0.8rem 1.2rem;
  border-radius: 0.5rem;
  min-width: 20%;
  background-color: #34656d;
  color: #faeab1;
  font-weight: 900;
  text-transform: capitalize;
  cursor: pointer;
}
.saved-snap:hover {
  transition: all 0.3s ease;
  filter: brightness(110%);
  background-color: #34656d;
}
