.stop-all-container {
  position: fixed;
  top: 9rem;
  left: 0;
  padding: 0.5rem;
  /* border: 1px solid red; */
  background-color: #ffffff09;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
}
.stop-all-container i {
  font-size: 2rem;
  transform: translate(-0.2rem);
}
.stop-all-container:hover {
  transition: all 0.3s ease;
  background-color: #ffffff3e;
  padding-left: 1.5rem;
}
.stop-all-container:hover i {
  color: #faeab1;
}

@media (max-width: 768px) {
  .logo {
    position: relative;
    margin: 0 auto;
    margin-bottom: 3rem;
  }
  .stop-all-container {
    top: 9rem;
  }
}
