.timer-container {
  position: fixed;
  top: 13rem;
  left: 0;
  padding: 0.5rem;
  z-index: 999;
  /* border: 1px solid red; */
  background-color: #ffffff09;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.timer-container :nth-child(1) {
  font-size: 2rem;
}
.timer-container:hover {
  transition: all 0.3s ease;
  background-color: #ffffff3e;
  padding-left: 1rem;
}
.timer-container:hover i {
  color: #faeab1;
}

.timer-input {
  background-color: transparent;
  border: 1px solid #faeab1;
  max-width: 2rem;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 1rem;
  color: #faeab1;
}
.timer-input:focus {
  outline: none;
}
.validate {
  font-size: 1.5rem;
  color: #34656d;
}
.validate:hover {
  scale: 1.1;
  transition: all 0.3s ease;
}

/* ------------------------------- */
.countdown {
  position: fixed;
  top: 6rem;
  right: 0;
  padding: 0.5rem;
  z-index: 999;
  /* border: 1px solid red; */
  background-color: #faeab1;
  color: #34656d;
  border-radius: 5px 0px 0px 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.countdown:hover {
  padding-right: 1rem;
}

.close-countdown {
  margin-left: 0.5rem;
}
