/*
 * Custom Slider Styles
 */

.noise-range,
.vol-range,
.speed-range,
.interval-range {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 100%;
  background: transparent; /* Hide original track */
  cursor: pointer;
}

/* --- Track Styles --- */

.noise-range::-webkit-slider-runnable-track,
.vol-range::-webkit-slider-runnable-track,
.interval-range::-webkit-slider-runnable-track,
.speed-range::-webkit-slider-runnable-track {
  background: #faeab1; /* Sandy yellow */
  height: 8px;
  border-radius: 4px;
}

.noise-range::-moz-range-track,
.vol-range::-moz-range-track,
.interval-range::-moz-range-track,
.speed-range::-moz-range-track {
  background: #faeab1; /* Sandy yellow */
  height: 8px;
  border-radius: 4px;
}

/* --- Thumb Styles --- */

.noise-range::-webkit-slider-thumb,
.vol-range::-webkit-slider-thumb,
.interval-range::-webkit-slider-thumb,
.speed-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -6px; /* Center thumb on track */
  width: 20px;
  height: 20px;
  background: #334443; /* Dark color */
  border-radius: 50%;
  border: 1px solid #faf8f1; /* Light beige border for definition */
}

.noise-range::-moz-range-thumb,
.vol-range::-moz-range-thumb,
.interval-range::-moz-range-thumb,
.speed-range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #334443; /* Dark color */
  border-radius: 50%;
  border: 1px solid #faf8f1; /* Light beige border for definition */
}

.interval-value {
  /* position: absolute; */
  opacity: 0.6;
  transition: all 1.5s 2s ease-in-out;
  top: 5rem;
  animation: fadeOut 3s 3s forwards ease;
  font-size: 0.8rem;
}
@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

/* Player Animation Styles */
.player-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 9rem;
  min-height: 5rem;
  padding: 1rem;
  border-radius: 1rem;
  filter: contrast(50%);
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), filter 0.8s ease;
  overflow: hidden;
}

.player-container:hover {
  background-color: #ffffff09;
  transition: all 0.3s ease;
}

.player-container:hover i {
  transition: all 0.2s ease 0.1s;
  color: #faeab1;
}

.player-container.is-playing {
  min-height: 18rem;
  min-width: 12rem;
  filter: contrast(100%);
  background-color: #ffffff09;
}

.player-container.is-playing h3,
.player-container.is-playing i {
  color: #faeab1;
}

/* CSSTransition styles */
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 700ms ease-in-out;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 200ms ease-in;
}
