.snapshot-title-container {
  z-index: 9999;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #00000072;
  backdrop-filter: blur(15px);
  position: fixed;
  top: 0%;
  left: 0%;
}

.snapshot-title-input {
  transition: all 0.3s ease;
  background-color: #34656d;
  border: none;
  outline: none;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 15rem;
}

.snapshot-title-input:focus {
  background-color: #faeab1;
  color: #34656d;
  transition: all 0.3s ease;
}

.snapshot-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  width: 15rem;
}

.snapshot-footer-container * {
  color: #faeab1;
}

.snapshot-title-container h3 {
  color: #faeab1;
}
