#root {
  max-width: 1280px;
  margin: 3rem auto;
  /* padding: 2rem; */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 80%;
  gap: 1rem;
}
i {
  font-size: 1.5rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
/* ------------------COMP CSS------------------------- */

.player-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 9rem;
  padding: 1rem;
  align-items: center;
  border-radius: 1rem;
  filter: contrast(50%);
  transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}
.player-container:hover {
  transition: all 0.3s ease;
  background-color: #ffffff09;
}
.player-container:hover i {
  color: aqua;
  scale: 1.1;
  transition: all .3s ease;
}
.main-container {
  padding: 1rem;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: fit-content;
}
.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 3rem;
}
.sliders-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  min-width: 50%;
  position: relative;
}

.sliders-labels {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 2rem;
}

.sliders {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 7rem;
  gap : 2rem
}

.noise-range,
.vol-range, .speed-range {
  /* width: 5rem; */
  outline: none;
  /* transform: rotate(-90deg); */
  /* margin: 0 2rem; */
}

.vol-range {
  left: 0;
}
.noise-range {
  right: 0;
}
.playing {
  color: aqua;
}
.is-playing {
  filter: contrast(100%);
  transition: all 0.8s ease;
}
.expand {
  background-color: #ffffff09;
  transition: all 0.3s ease;
}
