.search-container {
  width: 50vw;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  /* border: 1px solid red; */
  min-height: 8rem;
}

.search-bar {
  margin: 0 auto;
  padding: 1rem;
  border-radius: 0.5rem;
  height: 3rem;
  width: 70%;
  /* margin: 2rem auto; */
  transition: all 0.3s ease;
  background-color: #34656d;
  /* color: #FAEAB1; */
  border: none;
  outline: none;
}
.search-button {
  color: #faeab1;
  min-width: 20%;
  height: 3rem;
}
.search-bar:focus {
  width: 100%;
  background-color: #faeab1;
  color: #34656d;
  transition: all 0.3s ease;
}
/* MEDIA QUERIES */
@media (max-width: 768px) {
  .search-bar {
    margin: 5rem 0;
    width: 100%;
  }
}
