.search-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  gap: 1rem;
  margin-bottom: 3rem;
}

.search-bar {
  width: 80%;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 0.5rem;
  height: 3rem;
}
.search-button {
  /* border: 1px solid red; */
  min-width: 20%;
}
